<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
	<PublishDir>bin\publish\</PublishDir>
	<AndroidPackageFormat>apk</AndroidPackageFormat>
	<UseAppHost>false</UseAppHost>
	<PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>